* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    color: #222;
    line-height: 1.6;
}

p {
    margin: 1% 0;
}

h1 {
    font-size: 500%;
    margin-bottom: 0;
}

h2 {
    font-size: 200%;
    margin-top: 0;
}

.wrap {
    font-size: 110%;
    max-width: 700px;
    margin: 2% auto;
}

@media (max-width: 400px) {
    .wrap {
	font-size: 100%;
    }
}
