changequote(`{{', `}}')dnl
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Page Not Found</title>
    <style>include({{404.css}})</style>
    <link rel="icon" href="data:;base64,esyscmd({{base64 ../builder/favicon.png | tr -d '\n'}})">
  </head>
  <body>
    <div class="wrap">
      include({{404_body.html}})
    </div>
  </body>
</html>
