changequote(`{{', `}}')
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="Mehran Baghi's Personal Webpages And Projects">
    <title>Mehran Baghi's Personal Website: esyscmd({{cat title}})</title>
    <style>include({{./main.css}})</style>
    <link rel="icon" href="data:;base64,esyscmd({{base64 ../builder/favicon.png | tr -d '\n'}})">
  </head>
  <body>
    <div class="wrap">
